In [1]:
import numpy as np
import pandas as pd

In [2]:
batter = pd.read_csv('team_batter.csv')
pitcher = pd.read_csv('team_pitcher.csv')
batter['GDAY_DS'] = pd.to_datetime(batter['GDAY_DS'],format='%Y%m%d')
pitcher['GDAY_DS'] = pd.to_datetime(pitcher['GDAY_DS'],format='%Y%m%d')

In [3]:
batter = batter[batter['GDAY_DS'].dt.year>=2020][['T_ID','RUN']]
pitcher = pitcher[pitcher['GDAY_DS'].dt.year>=2020][['T_ID','ER']]

In [4]:
RUN = batter['RUN'].groupby(batter['T_ID']).sum()
ER = pitcher['ER'].groupby(pitcher['T_ID']).sum()

In [5]:
WR = (RUN ** 2) / ((RUN ** 2) + (ER ** 2))

In [6]:
WR

T_ID
HH    0.294683
HT    0.583043
KT    0.539710
LG    0.583521
LT    0.521620
NC    0.671297
OB    0.609756
SK    0.402553
SS    0.602566
WO    0.590687
dtype: float64

In [7]:
print(sum(WR))

5.3994379593784405

In [8]:
batter = pd.read_csv('report_data/new_batter_report_xgb.csv')
HIT = batter['HIT'].groupby(batter['T_ID']).sum()
AB = batter['AB'].groupby(batter['T_ID']).sum()
AVG = HIT/AB

In [9]:
AVG

T_ID
HH    0.273720
HT    0.279354
KT    0.270775
LG    0.277884
LT    0.276886
NC    0.282182
OB    0.271753
SK    0.272903
SS    0.276818
WO    0.274706
dtype: float64

In [10]:
pitcher = pd.read_csv('report_data/new_pitcher_report_xgb.csv')
INN2 = pitcher['INN2'].groupby(pitcher['T_ID']).sum()
ER = pitcher['ER'].groupby(pitcher['T_ID']).sum()
ERA = ER/INN2*27
ERA

T_ID
HH    4.998118
HT    5.042143
KT    4.993842
LG    4.751309
LT    4.966388
NC    4.788196
OB    4.726155
SK    5.026077
SS    4.845934
WO    4.917688
dtype: float64

In [11]:
df = pd.DataFrame({'타율': AVG,
                          '방어율': ERA,
                          '승률': WR})

In [12]:
df

            타율       방어율        승률
T_ID
HH    0.273720  4.998118  0.294683
HT    0.279354  5.042143  0.583043
KT    0.270775  4.993842  0.539710
LG    0.277884  4.751309  0.583521
LT    0.276886  4.966388  0.521620
NC    0.282182  4.788196  0.671297
OB    0.271753  4.726155  0.609756
SK    0.272903  5.026077  0.402553
SS    0.276818  4.845934  0.602566
WO    0.274706  4.917688  0.590687