## [진행상황]

## 1. 연도별 데이터 concat 및 변수삭제(완료)

## 2. y변수추가: 타율 출루율 방어율 도루관련변수(완료)

###  변수삭제 및 변수추가한 데이터 /data 폴더에 저장 .. 앞으로는 여기서 불러오면 될듯

## 3. 변수 간 상관관계 구하기, PPT만들기(진행예정)

### 기존데이터 불러오기(이건 무시..)

In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
# 경기 데이터
game_2016 = pd.read_csv('data\game_2016.csv', encoding='CP949')
game_2017 = pd.read_csv('data\game_2017.csv', encoding='CP949')
game_2018 = pd.read_csv('data\game_2018.csv', encoding='CP949')
game_2019 = pd.read_csv('data\game_2019.csv', encoding='CP949')
game_2020 = pd.read_csv('data\game_2020.csv', encoding='CP949')

In [3]:
# 선수 데이터 
players_2016 = pd.read_csv('data\players_2016.csv', encoding='CP949')
players_2017 = pd.read_csv('data\players_2017.csv', encoding='CP949')
players_2018 = pd.read_csv('data\players_2018.csv', encoding='CP949')
players_2019 = pd.read_csv('data\players_2019.csv', encoding='CP949')
players_2020 = pd.read_csv('data\players_2020.csv', encoding='CP949')

In [4]:
# 개인 투수 
private_pitcher_2016 = pd.read_csv('data\private_pitcher_2016.csv',encoding='CP949')
private_pitcher_2017 = pd.read_csv('data\private_pitcher_2017.csv',encoding='CP949')
private_pitcher_2018 = pd.read_csv('data\private_pitcher_2018.csv',encoding='CP949')
private_pitcher_2019 = pd.read_csv('data\private_pitcher_2019.csv',encoding='CP949')
private_pitcher_2020 = pd.read_csv('data\private_pitcher_2020.csv',encoding='CP949')

In [5]:
# 개인 타자 
private_batter_2016 = pd.read_csv('data\private_batter_2016.csv', encoding='CP949')
private_batter_2017 = pd.read_csv('data\private_batter_2017.csv', encoding='CP949')
private_batter_2018 = pd.read_csv('data\private_batter_2018.csv', encoding='CP949')
private_batter_2019 = pd.read_csv('data\private_batter_2019.csv', encoding='CP949')
private_batter_2020 = pd.read_csv('data\private_batter_2020.csv', encoding='CP949')

In [6]:
# 팀 투수
team_pitcher_2016 = pd.read_csv('data\\team_pitcher_2016.csv',encoding='CP949')
team_pitcher_2017 = pd.read_csv('data\\team_pitcher_2017.csv',encoding='CP949')
team_pitcher_2018 = pd.read_csv('data\\team_pitcher_2018.csv',encoding='CP949')
team_pitcher_2019 = pd.read_csv('data\\team_pitcher_2019.csv',encoding='CP949')
team_pitcher_2020 = pd.read_csv('data\\team_pitcher_2020.csv',encoding='CP949')

In [7]:
# 팀 타자 
team_batter_2016 = pd.read_csv('data\\team_batter_2016.csv', encoding='CP949')
team_batter_2017 = pd.read_csv('data\\team_batter_2017.csv', encoding='CP949')
team_batter_2018 = pd.read_csv('data\\team_batter_2018.csv', encoding='CP949')
team_batter_2019 = pd.read_csv('data\\team_batter_2019.csv', encoding='CP949')
team_batter_2020 = pd.read_csv('data\\team_batter_2020.csv', encoding='CP949')

In [8]:
# 팀
team = pd.read_csv('data\\team_2016.csv', encoding='CP949')

# 1. 연도별 데이터 하나의 데이터로 합치기 
- 등록선수 데이터 버리기
- 팀데이터는 연도별로 동일

In [9]:
game = pd.concat([game_2016,game_2017,game_2018,game_2019,game_2020])
players = pd.concat([players_2016,players_2017,players_2018,players_2019,players_2020])
private_pitcher = pd.concat([private_pitcher_2016,private_pitcher_2017,private_pitcher_2018,private_pitcher_2019,private_pitcher_2020])
private_batter = pd.concat([private_batter_2016,private_batter_2017,private_batter_2018,private_batter_2019,private_batter_2020])
team_pitcher = pd.concat([team_pitcher_2016,team_pitcher_2017,team_pitcher_2018,team_pitcher_2019,team_pitcher_2020])
team_batter = pd.concat([team_batter_2016,team_batter_2017,team_batter_2018,team_batter_2019,team_batter_2020])

In [10]:
game.to_csv('data\game.csv',index=False)
players.to_csv('data\players.csv',index=False)
private_pitcher.to_csv('data\private_pitcher.csv',index=False)
private_batter.to_csv('data\private_batter.csv',index=False)
team_pitcher.to_csv('data\\team_pitcher.csv',index=False)
team_batter.to_csv('data\\team_batter.csv',index=False)
team.to_csv('data\\team.csv',index=False)

# 2. Feature Selecting 
- game,players,private_batter,private_pitcher 
- 팀 데이터는 추후에 고려

### game

In [11]:
game.head(1)

            G_ID   GDAY_DS VISIT_KEY HOME_KEY  HEADER_NO GWEEK STADIUM
0  20160401HHLG0  20160401        HH       LG          0     금      잠실

In [12]:
game = game.drop(['G_ID','HEADER_NO','GWEEK'],axis=1)
game.head()

    GDAY_DS VISIT_KEY HOME_KEY STADIUM
0  20160401        HH       LG      잠실
1  20160401        HT       NC      마산
2  20160401        KT       SK      문학
3  20160401        LT       WO      고척
4  20160401        OB       SS      대구

### players

In [13]:
players.head(1)

   GYEAR  PCODE NAME T_ID POSITION  AGE_VA   MONEY
0   2016  60100  백창수   LG        내      28  4000만원

In [14]:
players = players.drop(['NAME','POSITION','MONEY'],axis=1)
players.head()

   GYEAR  PCODE T_ID  AGE_VA
0   2016  60100   LG      28
1   2016  60105   LG      25
2   2016  60146   LG      25
3   2016  60164   LG      25
4   2016  60181   LG      28

### 개인 투수

In [15]:
private_pitcher.columns

Index(['G_ID', 'GDAY_DS', 'T_ID', 'VS_T_ID', 'HEADER_NO', 'TB_SC', 'P_ID',
       'START_CK', 'RELIEF_CK', 'CG_CK', 'QUIT_CK', 'WLS', 'HOLD', 'INN2',
       'BF', 'PA', 'AB', 'HIT', 'H2', 'H3', 'HR', 'SB', 'CS', 'SH', 'SF', 'BB',
       'IB', 'HP', 'KK', 'GD', 'WP', 'BK', 'ERR', 'R', 'ER', 'P_WHIP_RT',
       'P2_WHIP_RT', 'CB_WHIP_RT'],
      dtype='object')

In [16]:
private_pitcher = private_pitcher.drop(['G_ID','HEADER_NO','START_CK','RELIEF_CK','CG_CK','QUIT_CK','WLS','HOLD','SH','SF','IB','HP','GD','BK','ERR','P_WHIP_RT','P2_WHIP_RT','CB_WHIP_RT'],axis=1)

In [17]:
private_pitcher.columns

Index(['GDAY_DS', 'T_ID', 'VS_T_ID', 'TB_SC', 'P_ID', 'INN2', 'BF', 'PA', 'AB',
       'HIT', 'H2', 'H3', 'HR', 'SB', 'CS', 'BB', 'KK', 'WP', 'R', 'ER'],
      dtype='object')

In [18]:
private_pitcher.head().transpose()

                0         1         2         3         4
GDAY_DS  20160401  20160401  20160401  20160401  20160401
T_ID           LG        LG        LG        LG        HH
VS_T_ID        HH        HH        HH        HH        LG
TB_SC           B         B         B         B         T
P_ID        60146     61891     62146     62698     65764
INN2            6         5         1        18         4
BF             29        33         7        94        27
PA              8         8         2        28         6
AB              7         6         2        25         4
HIT             1         2         1         9         1
H2              0         0         0         2         1
H3              0         0         0         0         0
HR              0         0         0         0         0
SB              0         0         0         0         0
CS              0         0         0         0         0
BB              1         1         0         1         1
KK              3         1         0         4         1
WP              0         0         0         0         0
R               0         0         0         4         1
ER              0         0         0         4         1

### 개인 타자

In [19]:
private_batter.columns

Index(['G_ID', 'GDAY_DS', 'T_ID', 'VS_T_ID', 'HEADER_NO', 'TB_SC', 'P_ID',
       'START_CK', 'BAT_ORDER_NO', 'PA', 'AB', 'RBI', 'RUN', 'HIT', 'H2', 'H3',
       'HR', 'SB', 'CS', 'SH', 'SF', 'BB', 'IB', 'HP', 'KK', 'GD', 'ERR',
       'LOB', 'P_HRA_RT', 'P_AB_CN', 'P_HIT_CN'],
      dtype='object')

In [20]:
private_batter = private_batter.drop(['G_ID','HEADER_NO','START_CK','BAT_ORDER_NO','RBI','P_HRA_RT','P_AB_CN','P_HIT_CN'],axis=1)

In [21]:
private_batter.columns

Index(['GDAY_DS', 'T_ID', 'VS_T_ID', 'TB_SC', 'P_ID', 'PA', 'AB', 'RUN', 'HIT',
       'H2', 'H3', 'HR', 'SB', 'CS', 'SH', 'SF', 'BB', 'IB', 'HP', 'KK', 'GD',
       'ERR', 'LOB'],
      dtype='object')

In [22]:
private_batter.head().transpose()

                0         1         2         3         4
GDAY_DS  20160401  20160401  20160401  20160401  20160401
T_ID           HH        LG        LG        LG        HH
VS_T_ID        LG        HH        HH        HH        LG
TB_SC           T         B         B         B         T
P_ID        60404     61102     61186     62164     62700
PA              1         3         4         1         2
AB              1         3         4         0         2
RUN             0         0         2         0         1
HIT             1         0         3         0         1
H2              0         0         0         0         0
H3              0         0         0         0         0
HR              0         0         1         0         0
SB              0         0         0         0         0
CS              0         0         1         0         0
SH              0         0         0         0         0
SF              0         0         0         0         0
BB              0         0         0         1         0
IB              0         0         0         0         0
HP              0         0         0         0         0
KK              0         2         1         0         0
GD              0         0         0         0         0
ERR             0         0         0         0         1
LOB             1         0         0         0         0

# 3. 새로운 변수 추가 : 타율 출루율 방어율 도루관련변수

- 분모가 0이 나온 na값은 0으로 채워줌

### 1) 타율(AVG):  HIT / AB
- 안타(홈런)/타수

In [23]:
private_batter['AVG'] = private_batter['HIT']/private_batter['AB']
private_batter['AVG'] = private_batter['AVG'].fillna(0)

### 2) 출루율(OBP) : HIT +  BB + IB + HP / PA
- 안타(홈런),4구,고의4구,사구 / 타석수

In [24]:
private_batter['OBP'] = (private_batter['HIT']+private_batter['BB']+private_batter['IB']+private_batter['HP'])/private_batter['PA']
private_batter['OBP'] = private_batter['OBP'].fillna(0)

### 3) 방어율(ERA): ER*9 / (INN2/3)

- (총 자책점 * 9 ) / 총 던진 이닝수

In [25]:
private_pitcher['ERA'] = private_pitcher['ER'] / (private_pitcher['INN2']/3)
private_pitcher['ERA'] = private_pitcher['ERA'].fillna(0)

### 4) 도루 시도 횟수(SB_trial):SB+CS

In [26]:
private_batter['SB_trial'] =  private_batter['SB'] + private_batter['CS']

In [27]:
# private_pitcher['SB_trial'] =  private_pitcher['SB'] + private_pitcher['CS']

### 5) 도루 성공율(SB_SR) : SB / (SB+CS)

In [28]:
private_batter['SB_SR'] =  private_batter['SB'] /(private_batter['SB'] + private_batter['CS'])
private_batter['SB_SR'] =  private_batter['SB_SR'].fillna(0)

In [29]:
# private_pitcher['SB_SR'] = private_pitcher['SB']/(private_pitcher['SB'] + private_pitcher['CS'])
# private_pitcher['SB_SR'] = private_pitcher['SB_SR'].fillna(0)

### 피처셀렉팅, 새로운 변수추가된 데이터 /data에 저장

In [30]:
game.to_csv('data\game.csv',index=False)
players.to_csv('data\players.csv',index=False)
private_pitcher.to_csv('data\private_pitcher.csv',index=False)
private_batter.to_csv('data\private_batter.csv',index=False)